* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vdarktext--: hsl(238, 29%, 16%);
    --regulartext--: hsl(237, 12%, 33%);
    --lighttext--: hsl(240, 6%, 50%);
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgba(175,103,234,1);
    background: -moz-linear-gradient(top, rgba(175,103,234,1) 0%, rgba(100,98,231,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175,103,234,1)), color-stop(100%, rgba(100,98,231,1)));
    background: -o-linear-gradient(top, rgba(175,103,234,1) 0%, rgba(100,98,231,1) 100%);
    background: -webkit-linear-gradient(top, rgba(175,103,234,1) 0%, rgba(100,98,231,1) 100%);
    background: linear-gradient(to bottom, rgba(175,103,234,1) 0%, rgba(100,98,231,1) 100%);
    background: -ms-linear-gradient(top, rgba(175,103,234,1) 0%, rgba(100,98,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af67ea', endColorstr='#6462e7', GradientType=0 );
}

.mobile-hero {
    display: none;
}

.container {
    position: relative;
    display: flex;
    border-radius: 20px;
    background-color: white;
    width: 864px;
    height: 460px;
}

.container img {
    position: absolute;
    left: -76px;
    top: 195px;
    height: 33%;
}

.img {
    overflow: hidden;
    background: 
        url(/images/illustration-woman-online-desktop.svg) -350% 50% no-repeat,
        url(/images/bg-pattern-desktop.svg) 122% 65% no-repeat;
    padding: 25%;
    background-size: 95%, 200%;
}

.content {
    overflow: auto;
    color: --regulartext--;
    size: 50%;
    width: 100%;
    font-family: "Kumbh Sans";
    font-size: 12px;
    padding-top: 4rem;
    padding-right: 6rem;
}

h1{
    color: var(--vdarktext--);
}

hr {
    border:1px solid hsl(240, 5%, 91%);
}

.question {
    position: relative;
    padding: 1.3rem 30px 1.3rem 0;
    cursor: pointer;
}

.question.active {
    color: var(--vdarktext--);
    font-weight: 700;
    position: relative;
    padding: 1.3rem 30px 1.3rem 0;
    cursor: pointer;
}

.question::after{
    content: url(/images/icon-arrow-down.svg);
    position: absolute;
    right: 1rem;
}

.question.active::after{
    content: url(/images/icon-arrow-down.svg);
    transform: rotate(180deg);
    position: absolute;
    right: 1rem;
}

.answer {
    padding-bottom: 1rem;
    color: var(--lighttext--);
}
.answer.hide {
    display: none;
}

/* phone break point */

@media screen and (max-width: 600px)  {

    body {
        position: relative;
        width: 95%;
        margin: auto;
        overflow: visible;
    }

    .mobile-hero {
        z-index: 10;
        overflow: visible;
        position: absolute;
        display: inline-block;
        width: 214px;
        top: 33px;
        margin: auto;
    }

    .container img {
       display: none;
    }
  
    .container {
        position: relative;
        overflow: auto;
        width: 90%;
        height: 563px;
        margin-top: 72px;
    }

    .img {
        position: absolute;
        overflow: visible;
        width: 100%;
        height: 563px;
        background: url(/images/bg-pattern-desktop.svg) no-repeat;
        margin: auto;
        background-size: 220px;
        top: -300px;
        background-position: center;
    }

    h1 {
        text-align: center;
    }

    .content {
        overflow: scroll;
        width: 90%;
        margin: auto;
        margin-top: 10rem;
        padding: 0;
        /* align-items: center; */
        /* justify-content: center; */
    }
}